.dark {background: rgb(37, 37, 42, 0.6);}
.alert {margin-top: 1rem;}
.alert-danger {color:#000;}
.log_in_section {width:400px; height:300px;position:absolute;top:calc(50% - 150px); left:calc(50% - 200px);}
.sign_in_section {width:400px; height:450px;position:absolute;top:calc(50% - 225px); left:calc(50% - 200px);}
.sign_in_form {background-color: #fff;border: 1px solid #D2DDCD; border-radius: 0.3rem; padding:1rem;}
.header {text-transform: uppercase; padding-top: .5rem;}
.sign {width:100%; height:40px; font-size: 1.5rem; margin-bottom: .25rem; }
.fLink {margin-top: .25rem;}
.btn {margin-top: .5rem;}
.sign_in_form .btn_submit {width:80%;margin-left:10%;}
.divider {width:100%; position:relative;}
.divider h6 {background-color:#fff; display:inline-block; position: relative; z-index:1;}
.divider::after {content:"";border-top:1px solid #D2DDCD; display:block; position:absolute; top:50%; width:100%; }
.policy {font-size: .8rem; padding: 0 .5rem;}
.input-group-text p {margin:0;}
.input-group-text {background-color: transparent; border:none;}


.reset {position:absolute; top:calc(50% - 100px); left:calc(50% - 194px); height:200px;}
.reset .btn {margin-top: 1rem;}
